In [1]:
import pandas as pd

In [69]:
df = pd.read_excel('Copy of PLACEMENT_JOB_PROFILE_REPORT(1).xlsx')
df.head(5)

,S.No.,Title,Company Name,Job sector
0,1,Data Visualization Intern,ABB,"DATA_ANALYTICS,ENGINEERING_CORE"
1,2,INTERN,Afcons Infrastructure Limited,NaN
2,3,INTERN,Ageas Federal Life Insurance Company,NaN
3,4,INTERN,Agrim Wholesale Pvt Ltd,ENGINEERING_WEB_SOFTWARE
4,5,INTERN,Aim India Pvt. Ltd,BANKING_AND_FINANCIAL_SERVICES

In [72]:
set(df['Job sector'])

{'ADMINISTRATION,ENGINEERING',
 'ADVERTISING_MEDIA_PR',
 'BANKING_AND_FINANCIAL_SERVICES',
 'BANKING_AND_FINANCIAL_SERVICES,ENGINEERING_WEB_SOFTWARE',
 'BUSINESS_DEVELOPMENT',
 'BUSINESS_DEVELOPMENT,SALES',
 'Business Development Trainee',
 'COMMUNITY_SOCIAL_SERVICES',
 'CONSTRUCTION_CONTRACTING',
 'CONSULTING',
 'CONSULTING,INFORMATION_TECHNOLOGY',
 'DATA_ANALYTICS',
 'DATA_ANALYTICS,ENGINEERING',
 'DATA_ANALYTICS,ENGINEERING_CORE',
 'DATA_ANALYTICS,ENGINEERING_WEB_SOFTWARE',
 'EDUCATION_TEACHING_TRAINING',
 'EDUCATION_TEACHING_TRAINING,MARKETING_BRAND_MANAGEMENT,MARKETING_GENERAL,SALES',
 'ENGINEERING',
 'ENGINEERING,ENTREPRENEURSHIP',
 'ENGINEERING,GENERAL_MANAGEMENT',
 'ENGINEERING,INFORMATION_TECHNOLOGY',
 'ENGINEERING_CORE',
 'ENGINEERING_CORE,ENGINEERING_WEB_SOFTWARE,INFORMATION_TECHNOLOGY',
 'ENGINEERING_CORE,INFORMATION_TECHNOLOGY',
 'ENGINEERING_WEB_SOFTWARE',
 'ENGINEERING_WEB_SOFTWARE,INFORMATION_TECHNOLOGY',
 'GENERAL_MANAGEMENT',
 'HEALTHCARE_SERVICES',
 'INFORMATION_TECHNOLOGY',
 'Intern',
 'Intern Operations Research Scientist',
 'MARKETING_GENERAL',
 'Not Defined',
 'OTHER',
 'Quantitative Research Analyst',
 'Quantitative Researcher',
 'RESEARCH',
 'Software Engineer',
 'Student Intern',
 nan}